<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>

  <body>
    {{> header}}
    {{scareIt welcomeHome}}
    <br/>
    <br/>

  </body>

  {{> footer}}
</html>
